body {
  font-family: Arial, Helvetica, sans-serif;
}

h1 {
  color: #6c6c84;
  margin-bottom: 0;
  line-height: 28px;
  font-size: 24px;
  font-weight: 100;
  text-align: left;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
  color: blueviolet;
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-weight: 100;
  line-height: 19px;
}

.weather-app-wrapper {
  max-width: 650px;
  margin: 30px auto;
}
.weather-app {
  padding: 20px;
  border: 3px solid peachpuff;
  border-radius: 7px;
}

.overview {
  margin-bottom: 20px;
}

.weather-temperature img {
  margin-bottom: 10px;
  float: left;
  height: 64px;
  width: 64px;
}

.weather-temperature strong {
  color: coral;
  font-size: 64px;
  font-weight: 400;
}

.weather-temperature .units {
  position: relative;
  font-size: 15px;
  top: -35px;
}
